# Python / Django
backend/venv/
backend/db.sqlite3
backend/*.sqlite3
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/.env

# Node / Angular / PNPM
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/
frontend/pnpm-debug.log*

# System / OS
.DS_Store
Thumbs.db
*.log
